<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEST</title>
</head>
<body>
    <h1>TEST</h1>
    <th:block th:if="${test != null}">
        <h2 th:text="${test}"></h2>
    </th:block>
    <h3 id="js"></h3>
</body>
<script th:inline="javascript">
    // const test = [[${test}]];
    const test = "[(${test})]"
    document.getElementById("js").innerText = test;
</script>
</html>