<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>a_intro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Intro</servlet-name>
  	<servlet-class>com.app.ex.servlet.Intro</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Intro</servlet-name>
  	<url-pattern>/intro</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EX01</servlet-name>
  	<servlet-class>com.app.ex.servlet.Ex01</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>EX01</servlet-name>
  	<url-pattern>/ex01</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EX02</servlet-name>
  	<servlet-class>com.app.ex.servlet.Ex02</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>EX02</servlet-name>
  	<url-pattern>/ex02</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>EX03</servlet-name>
  	<servlet-class>com.app.ex.servlet.Ex03</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>EX03</servlet-name>
  	<url-pattern>/ex03</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>EX04</servlet-name>
  <servlet-class>com.app.ex.servlet.Ex04</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>EX04</servlet-name>
  <url-pattern>/ex04</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>EX05</servlet-name>
  <servlet-class>com.app.ex.servlet.Ex05</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>EX05</servlet-name>
  <url-pattern>/ex05</url-pattern>
  </servlet-mapping>
</web-app>


















